.about-us {
    padding: 60px 0;
    display: block;
    box-sizing: border-box;
}

.about-us-section-title {
    text-align: center;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

.about-us-section-description {
    text-align: center;
    padding-bottom: 30px;
    color: #777;
    font-style: italic;
    font-size: 16px;
}

.about-us-member {
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.about-us-pic {
    margin-bottom: 15px;
    box-shadow: 0 0 10px #777;
}

.about-us-member h4 {
    display: block;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

.about-us-member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#about-us .about-us-member .about-us-social {
    margin-top: 15px;
}

#about-us .about-us-member .about-us-social a {
    color: #b3b3b3;
    font-size: 23px;
    text-decoration: none;
}

#about-us .about-us-member .about-us-social a:hover {
    color: rgba(11, 18, 89, 0.8);
}

.about-us-section-header p {
    margin-top: 20px;
}

@media (min-width: 1100px) {
    #about-us .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

