.form {
    padding: 20px 0 0 0;
    display:  flex;
    width:  100%;
    margin:  0 auto;
}

.form > .container {
    background: #FFFFFF;
    /* padding: 60px 15px; */
    display:  flex;
    /* flex-wrap:  wrap; */
    /* justify-content:  space-around; */
    /* align-content:  space-around; */
    /* margin:  0 auto; */
    /* width: 100%; */
    margin:  0 auto;
}

.form h2 {
    text-align: inherit;
    text-decoration: none;
    text-transform: none;
    padding: inherit;
    letter-spacing: 0;
    font-size: 25px;
}

.form p {

}

.form-panel {
    padding-bottom:  30px;
}

.panel-left {
    width: 50%;

}

.panel-right {
    position: relative;
    width: 50%;
}

.panel-right::after {
    content: "";
    background: url("../img/lock.png") no-repeat center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.feedback-row-col-25 {
    float: left;
    width: 25%;
}

.feedback-row-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.feedback {
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.feedback-row {
    width: 100%;
}

.feedback-row::after {
    content: "";
    display: table;
    clear: both;
}

.feedback-send {
    float: right;
    width: auto;
    cursor: pointer;
    background: #fff;
    font-size: 42px;
    margin-top: 15px;
    color: #D1E5FD;
}

.feedback-send:hover {
    color: tomato;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

label {
    padding: 12px 12px 12px 0;
    display: flex;
    font-size: 18px;
}

.clear {
    clear: both;
}

.feedback-form {
    display: inline-block;
    width: 92%;
}