.form {
    /* padding: 20px 0 0 0; */
    width:  100%;
    margin:  0 auto;
}

.form > .container {
    background: #FFFFFF;
    margin:  0 auto;
}


.form p {margin:  0;}

.form-panel {
    padding-bottom:  30px;
}

.panel-left {
    width: 50%;

}

.panel-right {
    position: relative;
    width: 50%;
}

.panel-right::after {
    content: "";
    background: url("../img/lock.png") no-repeat center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.feedback-row-col-25 {
    float: left;
    width: 25%;
}

.feedback-row-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.feedback {
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    box-shadow: 0 0 30px rgba(73, 78, 92, 0.15);
}

.feedback-row {
    width: 100%;
}

.feedback-row::after {
    content: "";
    display: table;
    clear: both;
}

.feedback-send {
    float: right;
    width: auto;
    cursor: pointer;
    background: #fff;
    font-size: 42px;
    margin-top: 15px;
    color: #D1E5FD;
}

.feedback-send:hover {
    color: tomato;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"], input[type="email"], textarea, select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #ebf5f5;
    color: #8a97a0;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
    margin-bottom: 30px;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

.form-send {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #00F9C4;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border:  0;
    border-radius: 5px;
    width: 100%;
    box-shadow:  0 0 5px rgba(73, 78, 92, 0.15);
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.form-send:hover {
    background-color: #00AF82;

    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}