.container__func {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.func-main-description {
    text-align: center;
    color: #777;
    font-style: italic;
    margin: 20px 0 0 0;
}

.container__func__box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background: #FFFFFF;
    width: 48%;
    height: 250px;
    margin: 40px 0 0 0;
    padding: 40px;
    font-size: 15px;
    line-height: 24px;
    box-shadow: 0 0 30px rgba(73, 78, 92, 0.15);
}

.container__func__box__icon {
    width: 10%;
    text-align: center;
}

.container__func__box__desc {
    width: 80%;
}

.fa-car,
.fa-dollar-sign,
.fa-hourglass-end,
.fa-mobile-alt,
.fa-android,
.fa-child,
.fa-paw,
.fa-location-arrow {
    color: rgba(11, 18, 89, 0.8);
}

/*Func boxes animation on scroll*/
.func-hide-box {
    opacity: 0;
    position: relative;
    top: 80px;
    transition: all .7s;
}

.func-show-box {
    opacity: 1;
    position: relative;
    top: 0;
    transition: all .7s;
}

@media screen and (max-width: 992px) {
    .container__func {
        display: block;
    }

    .container__func__box {
        margin: 40px auto 0 auto;
        width: 90%;
        max-width: 930px;
    }
}

@media screen and (max-width: 767px) {
    .container__func__box {
        padding: 20px;
        width: 100%;
    }

    .func > .container {
        padding-left: 0;
        padding-right: 0;
    }
}