
.hero-section-wall {
    width: 100%;
    padding: 0;
    color: #fff;
    font-weight: 100;
    position: relative;
}
.glyphicon-menu-hamburger {
    font-size: 1em;
    color: #0b1139;
}
.nav-link{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: color 0.3s;
}
.nav-link-hidden{
    visibility: hidden;
}
.navbar-toggle{
    background-color: white;
}

.hero-navbar{
    background-color: rgba(11, 18, 89, 0.8);
    border: none;
}


.hero-navbar:hover{


    background-color: rgba(11, 17, 57, 0.91);
}

.modal-title, .modal-body{
    font-family: "Helvetica", sans-serif;
    font-size: 1.7em;
    color: #fff;
    text-align: center;
    line-height:2em;
}

.modal-title2{
    font-family: "Helvetica", sans-serif;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    line-height:2em;
}
.modal-body{
    font-size: 1.2em;
}
.modal{
    background-color: rgba(11, 18, 89, 0.3);
}
.modal-content{
    background-color: rgb(11, 17, 57);
}
.modal-logo{
    float: left;
}

.modal-footer{
    text-transform: capitalize;
}
.hero-start-button{
    width: fit-content;
    padding: 12px 40px;
    letter-spacing: 0.2em;
    background-color: #fff;
    border: 1px red solid;
    color: #0b1139;
    text-transform: uppercase;
    font-size:1.2em;
    font-weight: 700;
    transition: color 0.1s;
    position: absolute;
    bottom: 60%;
    left: 35%;
}
.hero-start-button:hover{
    background-color: #0b1139;
    color: #fff;
    border: 1px #fff solid;
}

.hero-navbar-menu{
    padding-right: 5%;
}

.navbar-link {
    font-family: "Helvetica", sans-serif;
    font-size: 1.6em;
    color: #fff;
}

.hero-navbar-logo img{
    height: 2.1em;
    float: left;
    margin-left: 1em;
    margin-top: -10px;
}
.hero-navbar-logo-text{
    font-style: italic;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    margin-left: 0.3em;
}

.hero-background {
    width: 100%;
    height: auto;
   }

.hero-headline {
    position: absolute;
    top: 10%;
    left: 20%;
    font-family: "Helvetica", sans-serif;
    font-size: 4rem;
    color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1330px) {
    .hero-headline {
        font-size: 2.8em;
        position: absolute;
        top: 15%;
        left: 25%;

    }
}
@media screen and (max-width: 767px) {
    .hero-headline {
        display: none;
    }

    .hero-navbar-logo img {
        margin-left: 0.4em;
    }

    .hero-navbar-menu  li{
        width: 100%;
        float: none;
        text-align: center;
    }

    .hero-start-button {
        left:20%;
        bottom: 5%;
    }
}

.hero-section {
    overflow: hidden;
}