.menu-bar{
    height: 5em;
    width: 100%;
    background-color: rgba(21, 65, 45, 0.7);
    position: fixed;
    display:flex;
    flex-direction: row;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.nav-logo,
.nav-nav {
    width: 40%;

    align-self: center;
    margin: 0 auto;
}

.nav-logo{

    font-weight: 900;
    justify-content: flex-start;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    list-style-type: none;


}

.nav-links a{
    text-decoration: none;
    color:white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    border: 1px white solid;
    border-radius: 20px;
    padding: 5px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c4d3e6 url("../img/tesla.jpeg");
    background-size: cover;
    height: 100vh;

}

.hero-headline{
    font-family: "Open Sans", sans-serif;
    font-size: 4em;
    margin-top: 1.7em;
    margin-bottom: 0.3em;

}

.hero-text{
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    opacity: 1;
}

.hero-link-contain {
    margin-top: 7em;
    text-decoration: none;
    border: 2px #ffffff solid;
    border-radius: 20px;
    padding: 5px;
}

.hero-link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 1.5em;
}

.hero-link-contain:hover{
    color: #ffffff;
    background-color: rgba(29, 136, 70, 0.7);
}

.hero-link-contain:active{
    background-color: #15412d;
    color: #ffffff;
}

.hero-link:active{
    color: #ffffff;
}