.menu-bar{
      display:flex;
      height: 6rem;
      width: 100%;
      background-color: rgba(21, 65, 45, 0.7);
      position: fixed;
      flex-direction: row;
      color: white;
      font-family: "Open Sans", sans-serif;
}

  .menu-logo-text,
  .menu-nav {
      width: 45%;
      align-self: center;
      margin: 0 auto;
}

  .menu-logo-img{
      align-self: center;
      width: 5%;
      height: auto;
 }

  .menu-logo-img img{
      width: 4rem;
      height: auto;
      float: right;
 }

  .menu-logo-text{
      font-weight: 900;
      justify-content: flex-start;
      font-size: 2rem;
      font-style: italic;
  }

  .menu-nav-links{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  .menu-nav-links a{
      text-decoration: none;
      color:white;
      font-family: "Open Sans", sans-serif;
      font-size: 1.5rem;
      border: 1px #fff inset;
      border-radius: 20px;
      padding: 5px;
  }

  .menu-nav-links a:hover{
      background-color: #344834;
  }

  .menu-nav-links a:active{
      background-color: #080d08;
  }

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c4d3e6 url("../img/tesla.jpeg");
    background-size: cover;
    height: 100vh;
}

.hero-headline{
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.hero-text{
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    opacity: 1;
}

.hero-link-contain {
    margin-top: 8rem;
    text-decoration: none;
    border: 2px #fff double;
    border-radius: 20px;
    padding: 5px;
}

.hero-link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 1.5rem;
}
.hero-link:active{
    color: black;
}

.hero-link-contain:hover{
    background-color: #0f2a1c;
}

.hero-link-contain:active {
    background-color: #fff;
}