
.hero-section-div {
    width: 100%;
    padding: 0;
    color: #fff;
    font-weight: 100;
    position: relative;
}

.hero-navbar{
    background-color: rgba(11, 18, 89, 0.8);
}

.hero-navbar:hover{
    background-color: rgba(11, 17, 57, 0.91);
    /*height: 12%;*/
}

.hero-start-button{
    width: 100px;
    height:40px;
    background-color: white;
    color: rgb(11, 17, 57);
}

.hero-navbar-menu{
    padding-right: 5%;
   }

.hero-navbar-menu a {
    font-family: "Helvetica", sans-serif;
    font-size: 1.6em;
    color: #fff;
}

.hero-navbar-logo img{
    height: 2.2em;
    float: left;
    margin-left: 1em;
    margin-top: -10px;
}
.hero-navbar-logo-text{
    font-style: italic;
    font-size: 1.8em;
    color: #fff;
    font-weight: 600;
    margin-left: 0.3em;
}

.hero-background {
    width: 100%;
    height: auto;
    display: block;
}

.hero-headline {
    position: absolute;
    top: 10%;
    left: 20%;
    font-family: "Helvetica", sans-serif;
    font-size: 4rem;
    color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1330px) {
    .hero-headline {
        font-size: 2.8em;
        position: absolute;
        top: 15%;
        left: 25%;

    }
}
@media screen and (max-width: 767px) {
    .hero-headline {
        font-size: 2rem;
        position: absolute;
        top: 85%;
        left: 18%;
    }

    .hero-navbar-logo-text {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .hero-navbar-logo img {
        margin-left: 0.4em;
    }
}
@media screen and (max-width: 566px) {
    .hero-headline{
        display: none;
    }

}