.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c4d3e6 url("../wallpaperNEWer.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
}

.hero-headline{
    font-family: "Open Sans", sans-serif;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 0.6em;
}

.hero-text{
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
}

.hero-link-contain {
    margin-top: 4em;
    text-decoration: none;
    border: 1px black solid;
    border-radius: 20px;
    padding: 5px;
}

.hero-link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 1.5em;
}

.hero-link-contain:hover{
    border: 1px white solid;
    color: white;
}

.hero-link-contain:active{
    background-color: #7db7e6;
    color: white;
}

.hero-link:active{
    color: white;
}