html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    color: #666;
}



.hero-headline {
    font-family: "Open Sans", sans-serif;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 0.6em;
    opacity: 1;
}

.hero-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    opacity: 1;
}

.hero-link-contain {
    margin-top: 4em;
    text-decoration: none;
    border: 1px black solid;
    border-radius: 20px;
    padding: 5px;
}

.hero-link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 1.5em;
}

.hero-link-contain:hover {
    border: 1px white solid;
    color: white;
}

.hero-link-contain:active {
    background-color: #7db7e6;
    color: white;
}

.hero-link:active {
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #111;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #111;
}

.func {
    background: #EDF5F5;
    padding: 60px 0 0 0;
}

.func > .container {
    padding: 0 15px 60px 15px;
}

.form {
    /* padding: 40px 0 0 0; */
}

.form > .container {
    background: #FFFFFF;
    padding: 60px 15px 50px;
}

.about-us {
    background: #EDF5F5;
    padding: 40px 0 0 0;
}

.divider {
    display: block;
    width: 70px;
    height: 3px;
    background: #1dc8cd;
    background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
    margin: 20px auto 0 auto;
}