/*GENERAL RULES*/
body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #555;
    background: -moz-linear-gradient(#58b9ff, #325278);
    background: -webkit-linear-gradient(#58b9ff, #325278);
    background: linear-gradient(45deg, #58b9ff, #325278);
}

h2 {
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.5em;
    color: rgba(50, 82, 120, 0.8);
    text-transform: uppercase;
}

/*FUNCTIONALITIES RULES*/
.func {
    margin: 20px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    border-radius: 4px;
}

.func-columns {
    overflow: auto;
    padding: 20px 40px;
}

.func-column-left, .func-column-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.func-column-left {
    padding: 0 15px 0 0;
}

.func-column-right {
    padding: 0 0 0 15px;
}

/* FONT AWESOME RULES*/
.fa-car {
    color: #20c820;
}

.fa-cogs {
    color: rgba(68, 131, 186, 0.1);
    position: relative;
    top: 0.6em;
    font-size: 500px;
}

.func-cog {
    text-align: center;
    height: 0;
}