body {
    max-width: 1000px;
    box-sizing: border-box;
    font-family: "DejaVu Sans", sans-serif;
    margin: 0 auto;
}

.form {
    display: flex;
    /* border: black solid 1px; */
    justify-content: space-between;
}

.form-panel-left {
    width: 50%;
    padding: 20px;
    /* border: black solid 1px; */
}

.form-panel-right {
    position: relative;
    width: 50%;
    padding: 20px;
    /* border-left: black solid 1px; */
}

.form-panel-right::after {
    content: "";
    background: url("../img/lock.png") no-repeat center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.feedback-row-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.feedback-row-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.feedback {

    border-radius: 5px;
    text-align: center;
    font-size: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.feedback-row {
    width: 100%;
}

.feedback-row::after {
    content: "";
    display: table;
    clear: both;
}

.feedback-send {
    float: right;
    width: auto;
    cursor: pointer;
    background: #fff;
    font-size: 42px;
    margin-left: 5px;
    color: #D1E5FD;
}

.feedback-send:hover {
    color: tomato;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.clear {
    clear: both;
}

.feedback-form {
    display: inline-block;
    width: 92%;
}

/*-----------------------RWD----------------------------*/
@media screen and (max-width: 600px) {
    .form {
        width: 100%;
        display: block;
        clear: both;
    }

    .form-panel-right, .form-panel-left, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .form-panel-right {
        margin-top: 6px;
        padding: 30px;
    }

    .form h2 {
        text-align: center;
    }
}