body {
    box-sizing: border-box;
    background: #f9f9f9;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    color: #555;
}

h2 {
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.5em;
    color: rgba(0, 0, 255, 0.7);
}

.functionalities {
    margin: 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.func-columns {
    /*display: flex;*/
    /*justify-content: space-between;*/
    overflow: auto;
    padding: 20px 40px;
    text-align: justify;
}

.func-column-left, .func-column-right {
    float: left;
    width: 48%;
}

.func-column-left {
    padding: 0 15px 0 0;
}

.func-column-right {
    padding: 0 0 0 15px;
}

/*
.func-columns:after {
    clear: both;
}
*/

.fa-car {
    color: #20c820;
}

.fa-cogs {
    color: rgba(11, 86, 255, 0.1);
    position: relative;
    top: 0.6em;
    font-size: 500px;
}

.func-cog {
    text-align: center;
    height: 0;
}