body {
    box-sizing: border-box;
}

.form {
    display: flex;
    border: black solid 1px;
    justify-content: space-between;
}

.form-panel-left {
    width: 50%;
    padding: 20px;
    border: black solid 1px;
}

.form-panel-right {
    width: 50%;
    padding: 20px;
    border: black solid 1px;
}

.feedback {
    width: 540px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.feedback-send {
    height: 55px;
    width:  100px;
}
.fa-envelope {
    padding: 20px;
}