
.section-hero {
    display: flex;
    align-items: flex-end;
    background: #7db7e6 url("../wallpaperNEW.jpg");                    /* main picture */
    background-size: cover;
    height: 100vh;
    text-align: right;
    padding-right: 5px;
}

.section-hero div{
    width: 100%;
}

.section-hero .link-to-form{
    flex-shrink: 5;
    text-align: left;
    padding:  5px;
}                                                                   /* link to email form */
.section-hero .link-description{
    flex-shrink: 7;
    color: #6eff2a;
    text-align: right;
    font-family: Verdana Arial sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    border-right: 2px solid #6eff2a;
    padding: 5px;
}
.link-to-form a{
    text-decoration: none;
    color: #6eff2a;
    font-family: Verdana Arial sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

.header-text p.main-header{
    font-family: Verdana Arial sans-serif;
    font-size: 55px;
    flex-grow: 4;
    word-spacing: 10px;                                                 /* the catchphrase */
    font-weight: 900;
    color: azure;
    text-transform: capitalize;
    padding: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.main-header:hover{
    color: #add8e6;
}

.header-text p.decription{
    font-family: Verdana Arial sans-serif;                               /* description */
    color: #f0ffff;
    font-size: 35px;
}

.section-hero img{
    width: 100px;
    padding: 5px;
}
