/*GENERAL RULES*/
body {
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #555;
    background: -moz-linear-gradient(#58b9ff, #325278);
    background: -webkit-linear-gradient(#58b9ff, #325278);
    background: linear-gradient(45deg, #58b9ff, #325278);
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.5em;
    color: rgba(50, 82, 120, 0.8);
    text-transform: uppercase;
}

.section-hero {
    display: flex;
    align-items: flex-end;
    background: #7db7e6 url("../wallpaperNEW.jpg");             /* main picture */
    background-size: cover;
    height: 100vh;
    text-align: right;
    padding-right: 5px;
}

.section-hero div {
    width: 100%;
}

.section-hero .link-to-form {                                   /* img link to form below */
    flex-shrink: 10;
    text-align: center;
    padding: 5px;
    border: 3px #49ff23 solid;
    border-radius: 30px;
}

.link-to-form a {
    text-decoration: none;
    color: #49ff23;
    font-family: Verdana Arial sans-serif;
    text-transform: capitalize;
    font-weight: bold;
}

.header-text p.main-header {                                       /* catchphrase */
    font-family: Verdana Arial sans-serif;
    font-size: 55px;
    flex-grow: 4;
    word-spacing: 10px;
    font-weight: 900;
    color: azure;
    text-transform: capitalize;
    padding: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.main-header:hover {
    color: #add8e6;
}

.header-text p.description {
    font-family: Verdana Arial sans-serif;                         /* description */
    color: #f0ffff;
    font-size: 35px;
}

.section-hero img {
    width: 70px;
}

/*FUNCTIONALITIES RULES*/
.func, .form, .about-us {
    margin: 20px auto;
    background: #fff;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    border-radius: 4px;
    width: 80%;
}

.func-columns {
    overflow: auto;
    padding: 20px 40px;
}

.func-column-left, .func-column-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.func-column-left {
    padding: 0 20px 0 0;
}

.func-column-right {
    padding: 0 0 0 20px;
}

.func-name {
    text-align: center;
}

.func-desc {
    text-align: justify;
}

/* FONT AWESOME RULES*/
.fa-car, .fa-warehouse, .fa-hourglass-end, .fa-mobile-alt, .fa-child, .fa-paw, .fa-road {
    font-size: 40px;
    color: #20c820;
}

.fa-cogs {
    color: rgba(68, 131, 186, 0.1);
    position: relative;
    top: 0.6em;
    font-size: 500px;
}

.func-cog {
    text-align: center;
    height: 0;
}

.icon-parking {
    height: 40px;
}

.form {
    display: flex;
    /* border: black solid 1px; */
    justify-content: space-between;
}

.form h2 {
    text-align: inherit;
    text-decoration: none;
    text-transform: none;
    padding: inherit;
    letter-spacing: 0;
    font-size: 25px;
}

.form p {
    font-size: 17px;
}

.form-panel-left {
    width: 50%;
    padding: 20px;
    /* border: black solid 1px; */
}

.form-panel-right {
    position: relative;
    width: 50%;
    padding: 20px;
    /* border-left: black solid 1px; */
}

.form-panel-right::after {
    content: "";
    background: url("../img/lock.png") no-repeat center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.feedback-row-col-25 {
    float: left;
    width: 25%;
    /* margin-top: 6px; */
}

.feedback-row-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.feedback {
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.feedback-row {
    width: 100%;
}

.feedback-row::after {
    content: "";
    display: table;
    clear: both;
}

.feedback-send {
    float: right;
    width: auto;
    cursor: pointer;
    background: #fff;
    font-size: 42px;
    margin-top: 15px;
    color: #D1E5FD;
}

.feedback-send:hover {
    color: tomato;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

label {
    padding: 12px 12px 12px 0;
    display: flex;
    font-size: 18px;
}

.clear {
    clear: both;
}

.feedback-form {
    display: inline-block;
    width: 92%;
}

.about-us {
    text-align: center;
    margin: 20px auto;
    background: #fff;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 1);
    border-radius: 4px;

}

#about-us-header {
    font-size: 35px;
    margin: 0;

}

.about-us-main {
    display: inline-flex;
    justify-content: space-around;

}

.about-us-team {
    margin: 20px;
    padding: 20px;
    align-items: stretch;
    font-size: 20px;

}

.about-us-social-media a {

    text-align: center;
    color: rgba(50, 82, 120, 0.8);
}

.about-us-social-media a:hover {

    color: #20c820;
}

.about-us-team img {
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 50px 5px black;
    -moz-box-shadow: 5px 5px 50px 5px black;
    box-shadow: 5px 5px 50px 5px black);
}
