
.about-us {
    text-align: center;
}

#about-us-header {
    font-size: 35px;

}

.about-us-main {
    display: inline-flex;
    justify-content: space-around;

}

.about-us-team {
    margin: 20px;
    padding: 20px;
    align-items: stretch;
    font-size: 20px;

}


.about-us-social-media {

    text-align: center;
}
