body {
    margin: 0;
    /*zoom: 75%;*/
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.grass {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("img/grass.jpg");
}

/*todo: grafika drogi ma niepotrzebny margines z prawej strony (pobocze) przez co elementy niedokładnie się środkują*/
.road {
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 100vh;
    background-image: url("img/road.jpg");
    background-repeat: repeat-y;
}

.car {
    background-image: url("img/player.png");
    width: 99px;
    height: 192px;
    bottom: 1px;
    align-self: flex-end;
    z-index: 3;
}

.enemy_1 {
    position: absolute;
    top: -192px;
    width: 99px;
    height: 192px;
    background: url('img/car1.png') no-repeat;
    z-index: 2;
}

.enemy_2 {
    position: absolute;
    top: -192px;
    width: 90px;
    height: 192px;
    background: url('img/car2.png') no-repeat;
    z-index: 2;
}

.enemy_3 {
    position: absolute;
    top: -350px;
    width: 101px;
    height: 350px;
    background: url('img/car3.png') no-repeat;
    z-index: 2;
}

.enemy_4 {
    position: absolute;
    top: -189px;
    width: 108px;
    height: 189px;
    background: url('img/car4.png') no-repeat;
    z-index: 2;
}

.enemy_5 {
    position: absolute;
    top: -192px;
    width: 102px;
    height: 192px;
    background: url('img/car5.png') no-repeat;
    z-index: 2;
}

.enemy_6 {
    position: absolute;
    top: -186px;
    width: 102px;
    height: 186px;
    background: url('img/car6.png') no-repeat;
    z-index: 2;
}

.enemy_7 {
    position: absolute;
    top: -186px;
    width: 102px;
    height: 186px;
    background: url('img/car7.png') no-repeat;
    z-index: 2;
}

.enemy_8 {
    position: absolute;
    top: -180px;
    width: 96px;
    height: 180px;
    background: url('img/car8.png') no-repeat;
    z-index: 2;
}

.battery {
    position: absolute;
    top: -70px;
    width: 70px;
    height: 70px;
    background: url('img/battery.png');
    background-size: cover;
    z-index: 1;
}

.last-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: black;
    background-size: cover;
    z-index: 4;
    padding-top: 1rem;
    text-align: center;
}

.final-points {
    background-color: #20c820;
    width: 16rem;
    height: 8rem;
    margin-bottom: 3rem;
    display: inline-block;
    box-shadow: inset 0 0 3.2rem white;
    font-size: 2rem;
    text-align: center;
    /*padding-left: 1.5rem;*/
    padding-top: 1rem;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}

.last-screen-text {
    color: white;
    font-size: 10rem;
    letter-spacing: 0.6rem;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 0.5rem 0.5rem 0.5rem #20c820;
    margin-bottom: 5rem;
    margin-top: 1rem;
    padding: 0;
}

.last-screen-show {
    display: block;
}

.cup-container {

}

.reset-button {
    padding: 1rem 3rem;
    margin: auto;
    background-color: orange;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.score-title {
    text-transform: uppercase;
}

.progress {
    position: absolute;
    align-items: center;
    top: 30px;
    right: 30px;
    width: 15%;
    height: 75px;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    border: white 2px solid;
}

.score {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.timer {
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;

}