.container {
    width: 100%;
    margin: 0 auto
}

.grass {
    display: flex;
    width: 100%;
    height: 949px;
    background-image: url("img/grass.jpg");
}


#road {
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 949px;
    background-image: url("img/road.jpg");
    background-repeat: repeat-y;

}




.car{
    background-image: url("img/player.png");
    width: 99px;
    height: 192px;
    bottom: 1px;
    align-self: flex-end;
}