body{
    margin: 50px;
}

.container {
    width: 100%;
    margin: 0 auto
}

.grass {
    display: flex;
    width: 100%;
    height: 800px;
    background-image: url("img/grass.jpg");
}

.road {
    margin: 0 auto;
    width: 600px;
    height: 800px;
    background-image: url("img/road.jpg");
    background-repeat: repeat-y;

}

.car {
    background-image: url("img/player.png");
    width: 99px;
    height: 192px;
}

.enemy_1 {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background: black;
}

.enemy_2 {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background: #58b9ff;
}

.enemy_3 {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background: brown;
}