body {
    margin: 0;
    /*zoom: 75%;*/
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.grass {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("img/grass.jpg");
}

/*todo: grafika drogi ma niepotrzebny margines z prawej strony (pobocze) przez co elementy niedokładnie się środkują*/
.road {
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 100vh;
    background-image: url("img/road.jpg");
    background-repeat: repeat-y;
}

.car {
    background-image: url("img/player.png");
    width: 99px;
    height: 192px;
    bottom: 1px;
    align-self: flex-end;
    z-index: 3;
}

#hud {
    height: 130px;
    width: 300px;
    border: solid 1px white;
    background: white;
    position: absolute;
    top: 20px;
    right: 40px;
}

.enemy_1 {
    position: absolute;
    top: -192px;
    width: 99px;
    height: 192px;
    background: url('img/car1.png') no-repeat;
    z-index: 2;
}

.enemy_2 {
    position: absolute;
    top: -192px;
    width: 90px;
    height: 192px;
    background: url('img/car2.png') no-repeat;
    z-index: 2;
}

.enemy_3 {
    position: absolute;
    top: -350px;
    width: 101px;
    height: 350px;
    background: url('img/car3.png') no-repeat;
    z-index: 2;
}

.enemy_4 {
    position: absolute;
    top: -189px;
    width: 108px;
    height: 189px;
    background: url('img/car4.png') no-repeat;
    z-index: 2;
}

.enemy_5 {
    position: absolute;
    top: -192px;
    width: 102px;
    height: 192px;
    background: url('img/car5.png') no-repeat;
    z-index: 2;
}

.enemy_6 {
    position: absolute;
    top: -186px;
    width: 102px;
    height: 186px;
    background: url('img/car6.png') no-repeat;
    z-index: 2;
}

.enemy_7 {
    position: absolute;
    top: -186px;
    width: 102px;
    height: 186px;
    background: url('img/car7.png') no-repeat;
    z-index: 2;
}

.enemy_8 {
    position: absolute;
    top: -180px;
    width: 96px;
    height: 180px;
    background: url('img/car8.png') no-repeat;
    z-index: 2;
}

.battery {
    position: absolute;
    top: -70px;
    width: 70px;
    height: 70px;
    background: url('img/battery.png');
    background-size: cover;
    z-index: 1;
}