.container {
    width: 100%;
    margin: 0 auto
}

.grass {
    display: flex;
    width: 100%;
    height: 900px;
    background-image: url("img/grass.jpg");
}

.road {
    margin: 0 auto;
    width: 600px;
    height: 900px;
    background-image: url("img/road.jpg");
    background-repeat: repeat-y;

}

.car {
    background-image: url("img/player.png");
    width: 99px;
    height: 192px;
}

.enemy_1 {
    width: 100px;
    height: 100px;
    background: black;
}

.enemy_2 {
    width: 100px;
    height: 100px;
    background: white;
}