body {
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.grass {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("img/grass.jpg");
}

/*todo: grafika drogi ma niepotrzebny margines z prawej strony (pobocze) przez co elementy niedokładnie się środkują*/
.road {
    margin: 0 auto;
    width: 600px;
    height: 100vh;
    background-image: url("img/road.jpg");
    background-repeat: repeat-y;
}

.car {
    background-image: url("img/player.png");
    width: 99px;
    height: 192px;
}

.enemy_1 {
    position: absolute;
    top: -192px;
    width: 99px;
    height: 192px;
    background: url('img/car1.png') no-repeat;
}

.enemy_2 {
    position: absolute;
    top: -192px;
    width: 90px;
    height: 192px;
    background: url('img/car2.png') no-repeat;
}

.enemy_3 {
    position: absolute;
    top: -350px;
    width: 101px;
    height: 350px;
    background: url('img/car3.png') no-repeat;
}

/*todo: dodać więcej różnorodnych wrogów*/
/*todo: kolor baterii na zielony (ECO)*/
.battery {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 50px;
    background: url('img/car-battery.png');
    background-size: cover;
}