.welcome-screen {
    opacity: 0.6;
    animation: moment-off 0s linear 1s;
    animation-fill-mode: forwards;
    text-align: center;
    color: #ffffff;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 20px 20px;
    height: 450px;
    background-color: #0b1139;
    box-shadow: 0 8px 6px -6px black;
}

h1 {
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
}
.welcome-button{

}



@keyframes moment-on {
    from {opacity: 1;}
    10% {opacity: 0.1;}
    to {opacity: 0;}
}

@keyframes moment-off {
    from {opacity: 0;}
    to {opacity: 1;}
}