
#splash {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    animation: moment-on 1s linear 0.1s;
    animation-fill-mode: forwards;
}

#wrapper {
    opacity: 0;
    animation: moment-off 0s linear 0.1s;
    animation-fill-mode: forwards;
    text-align: center;
    color: #555;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 20px 20px;
    height: 450px;
    background-color: #fff;
}

h1 {
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}


@keyframes moment-on {
    from {opacity: 1;}
    10% {opacity: 0.1;}
    to {opacity: 0;}
}

@keyframes moment-off {
    from {opacity: 0;}
    to {opacity: 1;}
}